<footer class="footer">
  <div class="container">
    <div class="top">
      <div class="logo">
      </div>
      <div class="list-box">
        <div class="list-header">ТЕЛЕФОН:</div>
        <ul class="list">
          <li class="list-item"><a href="tel:+38067-319-63-47">+38067-319-63-47</a></li>
          <li class="list-item"><a href="tel:+38095-102-92-53">+38095-102-92-53</a></li>
        </ul>
      </div>
      <div class="list-box">
        <div class="list-header">АДРЕСА:</div>
        <ul class="list">
          <li class="list-item address">
            <address>
              вулиця Академіка Маслова, 24, Кременчук, Полтавська область
            </address>
          </li>
        </ul>
      </div>
      <div class="list-box">
        <div class="list-header">E-MAIL:</div>
        <ul class="list">
          <li class="list-item">
            <a href="mailto:stomat_estetcentr@ukr.net">stomat_estetcentr@ukr.net</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="line"></div>
    <div class="bottom">
      <div class="license">
        © Стоматологічна клініка ЕСТЕТ ЦЕНТР, 2023 Ліцензія МОЗ України N2099 від 15.11.2018
      </div>
      <div class="social">
        <app-icon-button
          icon="inst"
          iconColor="white"
        ></app-icon-button>
        <app-icon-button
          icon="facebook"
          iconColor="white"
        ></app-icon-button>
        <app-icon-button
          icon="tik-tok"
          iconColor="white"
        ></app-icon-button>
      </div>
    </div>
  </div>
</footer>
