:root {
  --main-white-color: #E4E7D1;
  --nav-link-color: #D8DBC6;
  --nav-link-hover-color: #aeb098;
  --nav-link-active: rgba(216, 219, 198, 0.53);

  --main-back-color: #E4E7D1;
  --main-black-color: #000000;

  --dark-green-color: #777835;

  --border-green-dark: #4F500F;
  --border-black: rgba(0, 0, 0, 0.29);

  --logo-light-color: #D5DCB1;

  --header-border: rgba(255, 255, 255, 0.20);

  --light-text-color: rgba(68, 65, 65, 0.85);

  --button-green: #77784D;

  --white-color: #ffff;

  --light-black-color: rgba(0, 0, 0, 0.50);

  --slide-back-color: #C1C8A0;

  --star-yellow-color: #fcf313;
  --carousel-navigation: rgba(193, 200, 160, 0.50);
  --carousel-navigation-hover: rgba(193, 200, 160, 0.63);

  --footer-back-color: #24241D;

  --btn-light: #B3BB8A;
  --btn-light-hover: #9fa677;

  --gold-color: #C8C98C;
}
