<header class="header">
  <div class="container header-box">
    <div class="address flex-hor">
      <app-icon
        state="address"
      ></app-icon>
      <address>
        м. Кременчук,
        вул. Академіка Маслова 24
      </address>
    </div>
    <div class="phones flex-hor">
      <app-icon
        state="phone"
      ></app-icon>
      <div class="phones-box">
        <a href="tel:+380673196347">+38067-319-63-47</a>
        <a href="tel:+380951029253">+38095-102-92-53</a>
      </div>
    </div>
    <div class="email flex-hor">
      <app-icon
        state="email"
      ></app-icon>
      <a href="mailto:stomat_estetcentr@ukr.net">stomat_estetcentr@ukr.net</a>
    </div>
    <div class="social">
      <app-icon
        state="inst"
        condition="active"
      ></app-icon>
      <app-icon
        state="facebook"
        condition="active"
      ></app-icon>
      <app-icon
        state="tik-tok"
        condition="active"
      ></app-icon>
    </div>
  </div>
</header>
